header
    -webkit-app-region: drag
    height: 102px
    width: 100vw
    background-color: transparent
    display: flex
    flex-direction: column
    justify-content: center

    > section#TheTitlebar 
        width: 100%
        box-sizing: border-box
        padding-left: 77px
        padding-right: 77px


#TheTitlebar
    display: flex
    flex-direction: row
    justify-content: space-between

    > #TheTitlebar__logo
        font-family: "Open Sans"
        font-style: normal
        font-weight: bold
        font-size: 14px
        line-height: 19px
        width: 48px
        color: #FFFFFF

    > #TheTitlebar__list
        -webkit-app-region: no-drag
        width: 20px
        height: 11px
        background-size: cover
        background-position: center
        background-image url("../../icons/list.svg")

    > #TheTitlebar__controls
        width: 48px
        height: 20px
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 6px

        > #TheTitlebar__hide
            -webkit-app-region: no-drag
            display: flex
            justify-content: center
            align-items: center
            transition-duration: .45s

            &:hover
                opacity: 0.6

            > div 
                width: 14px
                height: 14px
                background-size: cover
                background-position: center
                background-image: url("../../icons/hide.svg")

        > #TheTitlebar__close
            -webkit-app-region: no-drag
            display: flex
            justify-content: center
            align-items: center
            transition-duration: .45s

            &:hover
                opacity: 0.6

            > div 
                width: 12px
                height: 12px
                background-size: cover
                background-position: center
                background-image: url("../../icons/close.svg")