@require "../../assets/.env.styl"

$cover-size = 45px
$h3-size = 14.25px
$h4-size = 12px

.track
    width calc(100% - 36px)
    height $cover-size
    max-height: $cover-size
    overflow: hidden
    margin-top 12px
    margin-left $padding

    &:nth-child(1)
        margin-top 0

    display: grid
    grid-template-columns: $cover-size 1fr $cover-size

    opacity 1
    transition-duration: .35s

    &:hover
        opacity 1

    .track__cover
        img
            width 100%
            height 100%
            object-fit: cover
            object-position: center
            border-radius: 2px;
            opacity 0.96
            filter: grayscale(10%)
            

    .track__meta-body
        box-sizing: border-box
        margin-left 14px

        display: grid
        grid-template-columns: 1fr 0.71fr

        transition-duration: .45s

        border-bottom: 1.99999px solid #F3F3F3

        @media screen and ( min-width: 800px )
            grid-template-columns: 1fr 0.71fr 0.6fr

        @media screen and ( min-width: 900px )
            grid-template-columns: 1fr 0.71fr 0.6fr 0.41fr

        > .track__title
            display: flex
            flex-direction: column
            justify-content: space-evenly

            // background-color red
            box-sizing: border-box
            padding-bottom: 2px

            h3
                font-family: "Segoe UI Regular"
                font-size: 14px
                line-height: 19px
                text-transform: capitalize

                width: 90%
                max-width: 26vw
                white-space: nowrap
                overflow: hidden
                text-overflow: ellipsis

                color: #000000
            
            h4
                font-family: "Segoe UI Regular"
                font-weight: 600
                font-size: 12px
                line-height: 16px
                opacity: 0.9
                // margin-top -1px
                text-transform: capitalize

                white-space: nowrap
                overflow: hidden
                text-overflow: ellipsis
                max-width: 24.5vw

                color: #000000


        > .track__artist, .track__year, .track__time
            box-sizing: border-box
            padding-top: 4px

            h3
                font-family: "Segoe UI Regular"
                font-style: normal
                font-weight: 600
                font-size: 12px
                line-height: 16px
                margin-top 2px

                white-space: nowrap
                overflow: hidden
                text-overflow: ellipsis
                max-width: 18.5vw

                color: #000000

        .track__year, .track__time
            display: none

        .track__year
            @media screen and ( min-width: 800px )
                display: block

        .track__time
            @media screen and ( min-width: 900px )
                display: block


    .track__more
        display: flex
        align-items: center
        justify-content: center

        border: 1px solid transparent

        transition-duration: .45s

        &:hover
            border 1px solid #EBEBEB

        > div
            width 16px
            height 16px
            background-image url("../../icons/also.svg")
            background-size: cover
            background-position: center