$cover-size = 45px
$h3-size = 14.25px
$h4-size = 12px

.track
    width calc(100% - 60px)
    height $cover-size
    margin-top 10px
    margin-left 30px

    &:nth-child(1)
        margin-top 0

    display: grid
    grid-template-columns: $cover-size 1fr $cover-size

    opacity 0.95

    transition-duration: .35s

    &:hover
        opacity 1

    .track__cover
        img
            width 100%
            height 100%
            object-fit: cover
            object-position: center
            border-radius: 2px;
            

    .track__meta-body
        box-sizing: border-box
        margin-left 14px

        display: grid
        grid-template-columns: 1fr 0.71fr

        @media screen and ( min-width: 800px )
            grid-template-columns: 1fr 0.71fr 0.6fr

        @media screen and ( min-width: 900px )
            grid-template-columns: 1fr 0.71fr 0.6fr 0.41fr

        > .track__title
            display: flex
            flex-direction: column
            justify-content: space-evenly

            margin-top -0.5px

            h3
                font-family: "Open Sans Regular"
                font-size: 14px
                line-height: 19px
                text-transform: capitalize

                color: #000000
            
            h4
                font-family: "Open Sans Regular"
                font-weight: 600
                font-size: 12px
                line-height: 16px
                opacity: 0.85
                margin-top -1px

                color: #000000


        > .track__artist, .track__year, .track__time
            box-sizing: border-box
            padding-top: 4px

            h3
                font-family: "Open Sans Regular"
                font-style: normal
                font-weight: 600
                font-size: 12px
                line-height: 16px
                margin-top 2px

                color: #000000

        .track__year, .track__time
            display: none

        .track__year
            @media screen and ( min-width: 800px )
                display: block

        .track__time
            @media screen and ( min-width: 900px )
                display: block


    .track__more
        display: flex
        justify-content: flex-end

        > div
            width: 2.54px
            height: 11.6px

            opacity 0.8

            background-size: cover
            background-image url("../../icons/more.svg")