@require "../../assets/.env.styl"

$cover-size = 45px

#player-container
    width 100%
    height: 84px;

    display: flex
    align-items: center
    justify-content: center

    background-color #FDFDFD
    z-index 100

    border-bottom: 2px solid #F2F2F2


#player
    box-sizing: border-box
    width 100%
    padding-left: $padding
    padding-right: $padding
    height $cover-size

    display: flex
    flex-direction: row
    gap 10px

    @media screen and (min-width: 800px)
        justify-content: space-between


    #player__controls-elements
        display: flex
        flex-direction: row
        gap 10px

        @media screen and (min-width: 800px)
            order: 1
            position relative
            left: -150px

        .button
            display: flex
            align-items: center
            justify-content: center
            background-color transparent
            opacity 0.8
            transition-duration: .45s
            border: 1px solid transparent
            width: $cover-size
            height: $cover-size

            &:hover 
                opacity 1
                border: 1px solid #E2E2E2

            > div
                background-size: cover
                background-position: center
                width 18px
                height 18px

        #prev
            order: 0
            @media screen and (min-width: 800px)
                order: 1
            > div
                background-image url("../../icons/prev.svg")

        .play
            order: 1
            @media screen and (min-width: 800px)
                order: 2
            > div
                width 20px
                height 20px
                background-image url("../../icons/pause.svg")

        .pause
            order: 1
            @media screen and (min-width: 800px)
                order: 2
            > div
                width 20px
                height 22px
                background-image url("../../icons/play.svg")

        #next
            order: 2
            @media screen and (min-width: 800px)
                order: 3
            > div
                background-image url("../../icons/next.svg")  

        #shuffle
            order: 3
            @media screen and (min-width: 800px)
                order: 4
            > div
                width 17px
                height 17px
                background-image url("../../icons/shuffle.svg")

        #loop
            order: 4
            @media screen and (min-width: 800px)
                order 0
            > div
                width 22px
                height 22px
                background-image url("../../icons/loop.svg")  


    #player__tekm
        display: grid
        grid-template-columns: $cover-size 1fr
        width 100%

        @media screen and (min-width: 800px)
            order: 0
            max-width: 300px

        #player__cover
            height 100%

            img
                object-position: center
                object-fit: cover
                width 100%
                height 100%
                border-radius: 1.5px;

        #player__meta
            width 100%
            height 100%
            display: flex
            flex-direction: column
            justify-content: space-evenly

            margin-left 16px

            h3
                font-family: "Open Sans Regular";
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 19px;
                /* identical to box height */

                text-transform: capitalize;

                color: #000000;    

            h4
                font-family: "Open Sans Regular";
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 16px;

                color: #000000;

                opacity: 0.85;

    #player__more
        display: flex
        justify-content: flex-end
        order: 3

        > div
            width: 2.54px
            height: 11.6px

            opacity 0.8

            background-size: cover
            background-image url("../../icons/more.svg")