#ThePlayer
    width: 100%
    height: 282px

    display: grid
    grid-template-columns: 1fr 1.15fr


#ThePlayer__controls
    background-color: #F96243
    display: flex
    align-items: center
    flex-direction: row
    margin-left: -16px

    > #ThePlayer__empty
        width: 96px
        height: 193px
        background: #0061B0
        border-radius: 0px 99px 99px 0px

    > #ThePlayer__play
        width: 193px
        height: 193px
        background: #461027
        border-radius: 100px

        display: flex
        align-items: center
        justify-content: center

        > div
            width 31px
            height 30px
            background-size cover
            background-position: center

    > #ThePlayer__prev
        width: 96px
        height: 193px
        background: #FFCD36
        border-radius: 0px 99px 99px 0px

        display: flex
        align-items: center
        justify-content: center

        > div
            width 31px
            height 30px
            background-size cover
            background-position: center
            background-image url("../../icons/prev.svg")

    > #ThePlayer__next
        width: 96px
        height: 193px
        background: #F2EEE3
        border-radius: 0px 99px 99px 0px

        display: flex
        align-items: center
        justify-content: center

        > div
            width 31px
            height 30px
            background-size cover
            background-position: center
            background-image url("../../icons/next.svg")


#ThePlayer__timer
    border-top: 6px solid #F96243

    display: flex
    justify-content: center
    align-items: center

    > section 
        margin-top -10px

    #ThePlayer__time
        display: flex
        flex-direction: row
        justify-content: space-between

        h2
            &:nth-child(1)
                color: #CA5230;

            font-family: "Cormorant Garamond"
            font-style: normal
            font-weight: 300
            font-size: 86px
            line-height: 104px
            font-feature-settings: 'pnum' on, 'lnum' on

            color: #F2EEE3

            margin-bottom 10px

    #ThePlayer__timeline
        width 402px
        height 4px

        background-color #E1D8D0
        opacity 90%