#TheMeta
    width: 100%
    height: 312px
    box-sizing: border-box
    padding-left: 77px
    padding-right: 77px
    padding-top: 35px

    > h1
        font-family: "Cormorant Garamond"
        font-style: normal
        font-weight: 300
        font-size: 96px
        line-height: 116px
        text-transform: capitalize

        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap

        color: #CA5230

    > h2
        font-family: "Cormorant Garamond"
        font-style: normal
        font-weight: 300
        font-size: 64px
        line-height: 78px

        color: #F2EEE3

        opacity: 0.9