#bg 
    position: relative
    width: 100vw
    height: 100vh
    margin-top: -100vh

    transition-delay: .2s
    transition-duration: 1.45s
    background-size: cover
    background-position: center

    z-index: -1000