#ThePlayer__timer
    border-top: 6px solid #F96243

    display: flex
    justify-content: center
    align-items: center

    > section 
        margin-top -10px
        display: flex
        flex-direction: column
        justify-content: space-between

    #ThePlayer__timeline:hover
        opacity 0.6

    #ThePlayer__timeline:hover ~ #ThePlayer__time h2:nth-child(1)
        opacity 0.6

    #ThePlayer__time
        display: flex
        flex-direction: row
        justify-content: space-between
        order: 1

        h2
            &:nth-child(1)
                color: #CA5230;

            transition-duration: .65s
            font-family: "Cormorant Garamond"
            font-style: normal
            font-weight: 300
            font-size: 86px
            line-height: 104px
            font-feature-settings: 'pnum' on, 'lnum' on

            color: #F2EEE3

            margin-bottom 10px

    #ThePlayer__timeline
        order: 2
        -webkit-appearance: none
        width 402px
        height 4px
        transition-duration: .65s

        &::-webkit-slider-thumb
            opacity 0

        background-color #E1D8D0
        opacity 90%