#ThePlayer__timer
    border-top: 6px solid #F96243

    display: flex
    justify-content: center
    align-items: center

    > section 
        margin-top -10px

    #ThePlayer__time
        display: flex
        flex-direction: row
        justify-content: space-between

        h2
            &:nth-child(1)
                color: #CA5230;

            font-family: "Cormorant Garamond"
            font-style: normal
            font-weight: 300
            font-size: 86px
            line-height: 104px
            font-feature-settings: 'pnum' on, 'lnum' on

            color: #F2EEE3

            margin-bottom 10px

    #ThePlayer__timeline
        -webkit-appearance: none
        width 402px
        height 4px

        &::-webkit-slider-thumb
            opacity 0

        background-color #E1D8D0
        opacity 90%