#theTracklist
    z-index: 100
    width: 100vw
    height: 595px
    background: rgba(0, 0, 0, 0.35)
    overflow-y: scroll
    overflow-x: hidden
    position: absolute
    left: 0
    top: 102px
    box-sizing: border-box
    padding-left: 77px
    padding-right: 77px

    &::-webkit-scrollbar
        width: 0 !important
        
    &::scrollbar 
        width: 0

    h1
        font-family: "Cormorant Garamond"
        font-style: normal
        font-weight: normal
        font-size: 64px
        line-height: 78px
        color: white
        opacity: 0.9
        margin-top 5px