#theTracklist
    z-index: 100
    width: 100vw
    height: 595px
    background: rgba(0, 0, 0, 0.35)
    overflow-y: scroll
    overflow-x: hidden
    position: absolute
    left: 0
    top: 102px

    &::-webkit-scrollbar
        width: 0 !important
        
    &::scrollbar 
        width: 0