$cover-size = 43.25px

#grid-tmp3
    width 100vw
    height calc(100vh - 180px)
    overflow: scroll
    position relative
    top: 180px

    &::-webkit-scrollbar
        width 0
        height: 0


#grid__header
    width calc(100% - 60px)
    height 25px
    margin-left 30px
    margin-top 20px
    display: grid

    position: fixed
    margin-top 140px

    grid-template-columns: $cover-size 1fr 1fr

    h4
        font-family: "Open Sans Bold";
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;

        color: #000000;

        margin-left 16px