$cover-size = 43.25px

#grid-tmp3
    width 100vw
    height calc(100vh - 160px)
    overflow: scroll
    position relative
    top: 160px

    &::-webkit-scrollbar
        width 0
        height: 0


#grid__header
    position: fixed

    width calc(100% - 60px)
    height 25px

    margin-left 30px
    margin-top 130px

    display: grid

    grid-template-columns: $cover-size 1fr 0.71fr $cover-size

    @media screen and ( min-width: 800px )
        grid-template-columns: $cover-size 1fr 0.71fr 0.6fr $cover-size

    @media screen and ( min-width: 900px )
        grid-template-columns: $cover-size 1fr 0.71fr 0.6fr 0.41fr $cover-size

    .one
        margin-left 16px

    .two
        margin-left 4px

    h4
        font-family: "Open Sans Bold";
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;

        color: #000000;