
// This file is the entry point for styles
// Here are the imports of all other styles

@require "./typography.styl"

body 
    background-color white
    padding 0
    margin 0
    width 100vw
    height 100vh


#titlebar
    -webkit-app-region drag
    width 100vw
    background rgba(0, 0, 0, 0.02)
    height 35px