
// This file is the entry point for styles
// Here are the imports of all other styles

@require "./typography.styl"

body 
    background-color red
    padding 0
    margin 0
    width 100vw
    height 100vh


#app
    width 100vw
    height 100vh

    background-image url("../public/b.png")
    background-size cover