@font-face
    font-family "Open Sans Light"
    src url("../fonts/Open_Sans/OpenSans-Light.ttf")

@font-face
    font-family "Open Sans Regular"
    src url("../fonts/Open_Sans/OpenSans-Regular.ttf")

@font-face
    font-family "Open Sans Bold"
    src url("../fonts/Open_Sans/OpenSans-Bold.ttf")

@font-face
    font-family "Open Sans SemiBold"
    src url("../fonts/Open_Sans/OpenSans-SemiBold.ttf")