@font-face
  font-family: "Open Sans"
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf")

@font-face
  font-family: "Cormorant Garamond"
  src: url("../fonts/Cormorant_Garamond/CormorantGaramond-Light.ttf")