
// This file is the entry point for styles
// Here are the imports of all other styles

@require "./assets/typography.styl"


body 
    background-color #FCFCFC
    // background-color #FDFDFD
    padding 0
    margin 0
    width 100vw
    height 100vh

    *
        user-select none

    &::-webkit-scrollbar
        width 0


    *::selection 
        background-color rgb(0, 0, 0, 0, 0)


    h1 
        font-family "Open Sans Bold"


@require "./components/TheTitlebar/index.styl"
@require "./components/ThePlayer/index.styl"
@require "./components/TheMusicGrid/index.styl"
@require "./components/Track/index.styl"
        